.trends-container .items {
    margin: 40px;
}    
.trends-container .ias_trigger {
   margin: 10px 0 50px; 
}
.trends-container .product {
   width: 30%; 
   display: inline-block;
   margin: 10px;
   position: relative;
}
.trends-container .product img {
   width: 100%; 
}
.sgridhtmlblock.trends-menu{
    text-align: center;
    margin: 80px 0px 50px;
}
.trends-menu ul {
    padding: 0px;
    margin: 0px;
    font-size: 0;
}
.trends-menu li {
    font-size: 16px;
    list-style: none;
    display: inline-block;
    letter-spacing: .2px;
    margin: 0px;
    padding: 5px 10px;
}
.shop-layout .trends-menu li a {
    color: #555;
    font-weight: 100;
}
.trends-menu li.active a {
    padding: 10px;
    text-decoration: none;
    background: whitesmoke;
    border: 1px solid #EDEDED;
}
.most-counter {
    position: absolute;
    left: 85%;
    top: 0;
}
.most-counter .fa-lg {
    position: absolute;
    top: -1px;
}
.most-counter .value {
    position: absolute;
    bottom: 7px;
    font-size: .8em;
    font-weight: 300;
    color: white;
}
.most-counter .fa-bookmark {
    color: pink;
}
@media screen and (max-width : 768px) {
    .shop-layout .trends-container .sgridlistblock .items.p32-83 .product {
        width: 28.5%;
    }
    .trends-container .product {
        width: 28.5%;
    }
}
/*Responsive Styles*/
@media screen and (max-width : 640px) {
    .trends-container {
        margin: 0;       
    }
    .trends-container .product {
        width: 50%; 
    }
    #trends_page .shop-subpage,
    .trends-container .items {
        padding: 0;       
        margin:10px;
    }
    .trends-menu {
        margin:10px; 
    }
    .trends-menu li{
        font-size: 13px;
        width: 40%;
    }
}

@media screen and (max-width : 375px) {
 
}

@media screen and (max-width : 320px) {
    
}