/**
 * Base styles
 */
.shop-layout.neat {
    margin: 0;
    color:black;
    background:none;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
}    
.shop-layout.neat h2 {
    font-size:2em;
    margin-top: 0;
}    
.shop-layout.neat a {
    color:black;
}    
.shop-layout.neat a:hover {
    text-decoration: underline;
}    
.shop-layout.neat .sgridcolumn {
    padding:0;
}    
/**
 * Header
 */
.header {
    font-size: 1.1em;
} 
.header nav {
    background: none;
    border: 0;
    box-shadow: none;
    margin: 0;
}    
.header li {
    cursor: pointer;
}
.header li a {
    color: black;
}
.header .ssearch {
    width: auto;
    background: inherit;
    vertical-align: top;
}
.header .ssearch input[type="text"] {
    padding-left: 10px;
    width:auto;
    border: 1px solid;
}
.header .ssearch ul {
    margin: 1px;
}
.header .ssearch li i.fa-search {
    margin-left: 5px;
}
.header .nav-menu {
    display: inline-block;
    font-size: 1em;
}
.header .nav-menu ul {
    position: relative; 
    margin:0;
}
.header .nav-menu li {
    display: inline-block;
}
.header .nav-menu li a {
    min-width: 25px;
}
.header .nav-menu ul li a:hover + ul, 
.header .nav-menu li ul:hover {    
    position: absolute;
    z-index: 100;
}
.header nav .navbar-collapse {
    padding: 0;
}
.header .nav>li>a:focus, 
.header .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit; 
    color:black;
}
/* Below is for level 3 bootstrap menu */
.header .dropdown-menu li ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;    
}
.header .dropdown-menu li ul li a:focus,
.header .dropdown-menu li ul li a:hover {
    background-color: #e8e8e8;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}
.header .dropdown-menu li ul li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.header li.dropdown:hover ul.dropdown-menu {
    display: block;
}
.header ul.dropdown-menu {
    border: 0;
    border-radius: 0;
/*    box-shadow: none;*/
}
.brand.sgridfixtureblock {
    margin: 20px 40px;
}
.menu-top {
    text-align: right;
}
.menu-top {
    padding: 20px 20px;
}
.menu-bottom .container{
    margin: 5px 10px 0px;
}
.announcement{
    text-align: center;
    min-height: 0px;
}
.menu-top .nav-menu .quickaccess {
    background:none;
    margin-top: -5px;
}
.menu-top .nav-menu .quickaccess a {
    color:black;
}
.menu-top .nav-menu .quickaccess.home ul li a {
    min-width: 150px;
}
.menu-top .nav-menu .quickaccess.home li a {
    padding-left: 15px;
}
/**
 * Footer
 */
.footer {
    overflow: hidden;
    clear: both;
    font-size: 1em;
    overflow: hidden;
    margin: 0 auto;
    display: block;   
}
.footer ul {
    padding: 20px 40px;
}
.footer li {
    list-style: none;
    padding: 3px 0px;
}
.sgridhtmlblock.footer-lower {
    text-align: center;
    margin: 20px;
}
/**
 * Sections and content
 */
.slideshow .carousel-inner img {
    width:100%;
}
.slideshow .carousel-control{
    width: 8%;
    font-size: 4em;
    text-shadow: none;
    padding: 25% 0px;    
}
.slideshow .carousel-caption {
    text-shadow: none;
    bottom: 15%;
    padding: 0;
}
.slideshow .carousel-caption p {
    padding: 10px;
    font-size: 2.2em;
    margin: 0;
    line-height: 40px;
    margin-bottom: 30px;
    color: black;
    background-color: rgba(255,255,255,.4); 
}
.slideshow .carousel-caption a {
    padding: 15px 20px;
    background: black;
    color: white;
    font-size: 1.3em;
}

.shop-layout .product {
    margin-bottom:50px;
    border: 0px solid whitesmoke;
}
.product a {
    text-decoration: none;
    color: black;
}
.product-info {
    text-align: left;
}
.product-name {
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
}
.product-price {
    font-weight: 200;
    font-size: 15px;
    padding: 8px;
}

.shop-layout .ui-button {
    color: white;
    background: #1E90FF;
    border: none;
    padding: 15px 20px;
    font-size: 1.3em;
    width: auto;
}

.shop-layout #flash-bar {
    padding-top: 0px; 
}
#shop-breadcrumbs {
    font-size: 14px;
    padding: 10px;
    font-weight: 300;
}

.sgridcontainerblock.left-column {
    font-size:15px;
}
/**
 * shop sub-page
 */
.shop-subpage {
    padding: 20px 40px 40px;
}
.shop-subpage h1 {
    font-size: 2em;
}
.shop-subpage h2 {
    font-size: 1.8em;
}
.shop-subpage > div {
    margin:30px 0px;
}
.shop-subpage .checkbox-message {
    margin-left: 5px;
}
.shop-subpage .section-body {
    margin: 20px;
}
.shop-subpage .data-element,
.shop-subpage li {
    margin: 5px 0px;
}
.shop-subpage ol li {
    margin: 10px 0px;
}
.shop-subpage .main-view .body .data-form {
    width: 65%;
}
.shop-subpage .main-view .body .data-form input,
.shop-subpage .main-view .body .data-form textarea {
    width: auto;
}
.shop-subpage .form.notification span {
    margin: 5px;
}
.shop-subpage .form.notification input[type='checkbox'] {
    width: auto;
}
.shop-subpage.sitemap_page ul {
    display: inline-block;
    vertical-align: top;
    width:20%;
}
.shop-layout #sitemap_page ul li {
    display: block;
}
.shop-subpage.html_page {
    padding:0;
}

.shop-layout .right-column .news-panel .ui-accordion h3,
.shop-layout .right-column .news-panel .ui-accordion-content {
    padding:0;
}
.sgridnestedrow.right-column .news-panel.ui-accordion {
    margin: 0px 30px 0px 0px;
}
.shop-layout .right-column .news-panel .ui-accordion h3 {
    margin-bottom: 10px;
}
.shop-layout .right-column .news-panel .ui-accordion-header .more-news {
    margin: 0;
    font-size: 0.6em;
}
.sgridhtmlblock.news-panel {
    margin: 25px;    
}

/**
 * shop sub-page page-menu
 */
.shop-layout.neat .page-menu .menuitem {
    width:68px;
    padding:10px;
}    
.shop-layout.neat .page-menu li a,
.shop-layout.neat .page-menu li a i.fa,
.shop-layout.neat .page-menu li a i.material-icons {
    color:#DCDCDC;
}    
.shop-layout.neat .page-menu li a.active,
.shop-layout.neat .page-menu li a:hover,
.shop-layout.neat .page-menu li a:hover i.fa,
.shop-layout.neat .page-menu li a:hover i.material-icons,
.shop-layout.neat .page-menu li a.active i.material-icons {
    color:black;
}    
.shop-layout.neat .page-menu .menuitem .label {
    padding: 0px;
    display: block;
}
.shop-layout.neat .recent-wrapper {
    padding: 20px;
}    
.shop-layout.neat .task-group .menuitem,
.shop-layout.neat .question-group .menuitem {
    width: 70px;
    height: 65px;
    display: block;
}
.shop-layout.neat .task-group .menuitem .label,
.shop-layout.neat .question-group .menuitem .label {
    display: block;
    padding: 0px;
    color: #555;
}

.article {
    font-size: 15px;
    margin-bottom: 50px;
    border: 1px solid black;
}
.article .element {
    margin: 20px 10px;
}
.article .news-image img {
    width:100%;
    max-height: 350px;
}
.article .heading-element {
    font-size: 2em;
}
.article .date {
    font-size: 0.9em;
    font-weight: 200;
}
.article .content {
    margin-bottom: 50px;
    font-weight: 200;
}
.latest-news .article {
    vertical-align: top;
    background: white;
    text-align: left;
}
.latest-news .article .heading-element {
    font-size: 1.2em;
}
.latest-news .article .news-image img {
    height: 150px;
}
.latest-news .sgridcategoryblock .items > div {
    text-align: left;
}
.latest-news .article .content {
    margin-bottom: 20px;
}

#login_page.shop-subpage {
    margin: 0 auto;
    width:400px;
    padding: 40px;
}
#login_page #login-button {
    width: 92%;
    padding: 15px;
}
#login_page .row.tos {
    margin-top: 30px;
}
#login_page a,
#register_page a {
    color: #337ab7;
}

.cart_page .main-view .body {
    padding:0;
}
.cart_page .cart-summary,
.cart_page .promocode-column .label {    
    font-size: 1em;
}
body.shop.neat .offcanvasmenu {
    background: white;
    color: black;
    box-shadow: 1px 1px 8px #888888;
}
/**
 * Shopping cart
 */
.offcanvasmenu .offcanvas-cart a {
    padding: 0;
    font-size:18px;
}
.offcanvasmenu .cart-item .item-details .remove-link a {
    font-size: 10px;
    padding-left: 8px;
}
body.shop.neat .offcanvasmenu .cart-item {
    background: white; 
    border: 1px solid grey;
    padding: 3px;
    margin: 5px;
}
.offcanvasmenu  .item-details #item_promotion_flag {
    position: inherit;
}
.shop-subpage.cart_page .heading,
.shop-subpage.cart_page .page-content {
    margin: 0px;
}
.shop-layout #cart_template {
    margin: 0px 40px;
}
.shop-layout #cart_template .main-view {
    margin: 0px;
}
.offcanvas-cart-shipping {
    padding: 10px 0px;
    font-weight:100;
}
.offcanvas-cart-checkout {
    border: 1px solid gray;
    padding: 5px;
}
/**
 * Checkout page
 */
body.shop .form-wrapper.shop {
    background:white;
}
.registered-customers,
.guest-customers {
    display: inline-block;
    width:45%;
}
div.separator {
    display: inline-block;
    width:5%;
    vertical-align: top;
    margin-top: 200px;
}
.registered-customers .ui-button {
    width:92%;
}
.guest-customers {
    vertical-align: top;
    text-align: left;
    margin-top: 40px;
}

/**
 * Contact form
 */
.shop-subpage .form {
    margin:0;
}
.form.contact_page {
    width:50%;
}
.form h2 {
    margin-bottom: 30px;
}
.form input,
.form textarea {
    width: 96%;
    height: 20px;
    line-height: 19px;
    padding: 7px;
    margin: 0 0 2px;
    background: #ffffff;
    box-shadow: none;
    border: 1px solid #c1c5cb;
    border-color: #b0b5bd #c1c5cb #d2d6dc;
    border-radius: 3px;
    font-size: 14px;
}
.form textarea {
    height:100px;    
}
.form input[type="button"] {
    color: white;
    background: #1E90FF;
    border: none;
    padding: 15px 20px;
    font-size: 1.3em;
    width: auto;
}
.form .success-message .success {
    padding: 20px;
    border: 1px solid #3c763d;
    background: #dff0d8;
    margin-bottom: 20px;
}

.shop-layout .shop-messenger {
    vertical-align: top;
    position: relative;
    top: 5px;
    float: right;
    margin-left: 20px;
}

/*Responsive Styles iPad */
@media screen and (max-width : 768px){
    .brand.sgridfixtureblock {
        margin: 20px;
    }
    .sgridrow .brand.sgridcolumn {
        width:30%;
        display:inline-block;
    }
    .menu-top {
        padding: 20px 10px;
    }
    .menu-top.sgridcolumn {
        display: inline-block;
        float: right;
        margin-top: 10px;
    }
    .menu-bottom .container {
        margin: 5px 10px 0;
        width: auto;
    }
    .sgridcontainerblock.left-column {
        width:30%;
        display: inline-block;
    }
    .sgridcontainerblock.right-column {
        width:70%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }
    .news-page > .sgridcolumn {
        width:70%;
        display: inline-block;
    }
    .news-page .sgridcontainerblock.right-column {
        width:26%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 30px 10px;
    }
    .sgridhtmlblock.news-panel {
        margin: 0px; 
    }
    .shop-layout .cart-items {
        width: 60%;
    }
    .shop-layout .cart-summary {
        font-size: 1em;
    }
    .shop-layout #cart_template .step-wrapper {
        width: 70%;
    }
    .header .ssearch input[type="text"] {
        width: 100px;
    }
    .form.contact_page {
        width:100%;
    }
    .footer .col-md-3 {
        width: 25%;
        display: inline-block;
        vertical-align: top;
    }
    .shop-layout .shop-messenger {
        margin-left: 0px;
    }
}
/*Responsive Styles for mobile devices */
@media screen and (max-width : 640px){
    .header {
        border-bottom: 1px solid;
    }
    .menu-top .ssearch,
    .menu-bottom {
        display:none;
    }
    .menu-top {
        padding: 10px 20px 25px;
        text-align: center;
        font-size: 0.9em;
    }
    .shop-layout .breadcrumbs {
        padding: 0;
    }
    .sgridrow .brand.sgridcolumn,
    .sgridrow .menu-top.sgridcolumn {
        width: 100%;
        text-align: center;
    }
    .brand.sgridfixtureblock {
        margin: 10px;
    }
    .shop-layout .mobile-button {
        background: none;
        float:none;
        padding: 15px;
    }
    .shop-layout .mobile-button a {
        color: black;
    }
    .shop-layout .mobile-cart .counter {
        top: -10px;
        position: relative;
    }    
    body.shop .mobile-login {
        padding: 5px;
    }
    .mobile-login .avatar img {
        width: 24px;
    }
    .user-menu.sgridcolumn {
        padding-top: 15px;
        padding-right: 10px;
    }
    .brand.sgridcolumn{
        display: inline-block;
    }
    .header.sgridcontainerblock {
        margin: 0px;
    }
    .header.sgridcolumn {
        display: inline-block;
        float: right;
    }
    .sgridcontainerblock.left-column {
        display: none;
    }
    .sgridcontainerblock.right-column {
        width:100%;
        display: block;
    }
    .shop-layout .shop-subpage {
        margin: 20px;
        padding: 0;
    }
    .shop-subpage.sitemap_page ul {
        width:100%;
    }
    #latest-news .article {
        width:100%;
        margin:0 0 15px;
    }   
    .shop-layout .carousel-inner >.item > img {
        height:200px;
    }
    .shop-layout .carousel-control {
        padding: 18% 0;
    }
    .shop-layout .ui-button {
        padding: 15px;
        font-size: 16px;
    }    
    .shop-layout .news-panel {
        padding: 0px;
    }
    .sgridcontainerblock.right-column .news-panel.ui-accordion {
        margin: 20px;        
    }    
    .shop-layout .page-layout .width-p-75 {
        width: 100%;
        margin: 0;
    }
    #login_page.shop-subpage {
        width:80%;
        padding:20px;
    }
    .footer ul {
        float: none;
        padding: 10px 40px;
    }
    .slideshow .carousel-caption {
        bottom: 30%;
    }
    .slideshow .carousel-caption p {
        font-size: 1em;
        margin-bottom: 10px;
        line-height: 20px;
        padding: 5px;
    }
    .slideshow .carousel-caption a {
        padding: 5px;
        font-size: 0.8em;
    }    
    .carousel-indicators {
        bottom: 0;
    }
    .carousel-indicators .active {
    }
    .footer .col-md-3 {
        width: 100%;
    }
    .shop-layout .shop-messenger {
        float: none;
    }    
    body.shop.neat .offcanvasmenu .ssearch input {
        border: 1px solid black;
    }
    body.shop.neat .susermenu .offcanvas-menu a {
        color: black;
    }
    body.shop.neat .susermenu .offcanvas-menu li ul {
        background: whitesmoke;
    }
    
}

@media screen and (max-width : 375px){

}

@media screen and (max-width : 360px){
    
}

@media screen and (max-width : 320px){

}